.profile  
  %h4
    %font{color: "#A52A2A"} My Profile
  %table
    %tr
      %td
        %p
          %b Email:
          = @user.email
    %tr
      %td
        %p
          %b image:
          - if@user.image.present?
            = image_tag @user.image.url(:tiny)
          - else
            = image_tag "user_image.jpeg"