We are technological consultant providing IT products & services at your door step in 24 hrs.
We understand your need and provide products as per your need 
Mission & vision: to provide It products to every individual at affordable price and make people aware of technology.
We believe in sharing technology not selling technology.