.login_page {
  background-color: #F5F5F5;
  padding-bottom: 40px;
  padding-top: 80px;
}
.signin_form {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0 auto 20px;
  max-width: 300px;
  padding: 19px 29px 29px;
}
.signin_form .signin_form-heading, .signin_form .checkbox {
  margin-bottom: 10px;
}
.signin_form input[type="text"], .signin_form input[type="password"], .signin_form input[type="email"] {
  font-size: 16px;
  height: 35px;
  margin-bottom: 15px;
  padding: 7px 9px;
  border-radius: 4px 4px 4px 4px !important;
  width: 245px;
}
#login_button {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.userimage img {
  height:40px;
  width:40px;
  border-radius: 50px 50px 50px 50px;
}
